---
import '@/styles/global.css'

export interface Props {
  title: string | undefined
  description: string | undefined
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={Astro.site} />
    <link rel="icon" type="image/svg+xml" href=`${Astro.site}favicon.svg` />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content=`${Astro.site}og-image.svg` />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.site} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content=`${Astro.site}og-image.svg` />

    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </head>
  <body class="flex h-full items-start justify-center bg-gray-50">
    <div class="flex w-full max-w-full items-center justify-center p-4">
      <slot />
    </div>
  </body>
</html>
